@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #fbf7f1;
	--foreground: #181c14;
	--outer__color: #000000;
	--border__color: #8e8b82;
	--block__color: #fefdfc;
	--definer__color: #e5e7eb;
}

/*
  TODO: Fix the black theme
*/

/* @media (prefers-color-scheme: dark) {
  :root {
 --background: ;
	--foreground: ;
	--outer__color: ;
	--border__color: ;
	--block__color
  }
} */

body {
	@apply text-base;
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-inconsolata);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/*
	Underline animation for links
*/
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
.animate-spin {
	animation: spin 15s linear infinite;
}
