root {
	--background: #fbf7f1;
	--foreground: #181c14;
	--outer__color: #000000;
	--border__color: #8e8b82;
	--block__color: #fefdfc;
	--definer__color: #e5e7eb;
}

.rdp-root {
	--rdp-cell-size: 24px;
	--rdp-caption-font-size: 16px;
	--rdp-selected-font: 16px;
	--rdp-background-color: var(--block__color);
	--rdp-accent-color: var(--foreground);
	--rdp-day-width: var(--rdp-cell-size);
	--rdp-day-height: var(--rdp-cell-size);
	--rdp-nav_button-width: var(--rdp-cell-size);
	--rdp-nav_button-height: var(--rdp-cell-size);
	--rdp-nav-height: var(--rdp-cell-size);
	--rdp-dropdown-gap: 2px;

	font-size: 85%;
}

.rdp-chevron {
	fill: var(--foreground);
	height: 14px;
	width: 14px;
}

.rdp-month_caption {
	padding-right: calc(var(--rdp-nav_button-width)+ 15px);
	font-weight: 400;
}
